.vscode
myfind/test-find
myfind/build
myfind.zip
mypopen/build
shared-memory-ringbuffer/build
shared-memory-ringbuffer/client-server-example/out
shared-memory-ringbuffer/tut_client-server-example
shared-memory-ringbuffer/tut_semaphore
shared-memory-ringbuffer/tut_shared_memory